body{
    background-image: url('../images/background.jpg');
    margin: 0px;
    overflow: hidden;
    background-size: cover;
}
.bg-img img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.left-container {
    height: 100vh;
    width: 10%;
    display: inline-block;
}

.nesamaniJet{
    width: 150px;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: 0.1s ease-in all;
	-moz-transition: 0.1s ease-in all;
	-webkit-transition: 0.1s ease-in all;
}

.hammer img{
    height: 50px;
    width: 50px;
}

.hammer {
	position: absolute;
	transform: translate(-50%, -50%);
    opacity: 1;
}

.hammer.fade-out {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.logo{
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: #fff;
    border-radius: 3px;
}

.logo img {
    width: 250px;
}

.timer{
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: #fff;
    border-radius: 3px;
}
.timer label{
    font-size: 40px;
    color: #191919;
    font-family: sans-serif;
    padding: 7px 10px;
    display: inline-block;
    font-weight: bolder;
}
/* result modal */
.savepopup .modal-dialog{
    width: 450px;
    border-radius: 10px;
    margin: 10% auto;
}
.savepopup .modal-dialog .modal-content{
    box-shadow: none;
}

.savepopup .modal-content .play-img img{
    width: 99%;
    margin: 0 auto;
    display: block;
}
.savepopup .modal-content .play-text h2{
    color: #303030;
    font-size: 22px;
    line-height: 25px;
    font-family: sans-serif;
    padding-bottom: 15px;
    margin: 0px;
        font-family: monospace, sans-serif;
}
.savepopup .modal-content .play-text label{
    color: #303030;
    font-size: 14px;
    line-height: 16px;
        font-family: monospace, sans-serif;
}
.play-content{
    padding:30px 0px 40px 0px;
}
.savepopup .modal-content .play-text{
    margin: 0px auto;
    text-align: center;
    padding-bottom: 20px;
}
.savepopup .modal-content .play-button{
    margin:0px auto;
    text-align: center;
}
.savepopup .modal-content .play-button img{
    width:110px;
    cursor: pointer;
}

/* start-game-wrapper */
.start-game-wrapper{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
}
.start-button{
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50px);
}
.start-btn{
    padding: 12px 20px;
    font-size: 24px;
    padding-top: 10px;
    background-color: #01074F !important;
    color: #ff2e3f !important;
}

#missedNesamani{
    width: 30%;
    margin: 0 auto;
    display: block;
}

.top-container {
    height: 200px;
    width: 100%;
    display: inline-block;
    position: fixed;
    overflow: hidden;
    border-bottom: 1px solid #57ad2b;
}